body{
    background-color: #f0efef;
    margin: 0;
    padding:0;
}

h1{
   text-align: center; 
   background: white; 
   margin: 0;
   padding: 20px 0;
  

}

.Photo1{
 text-align: center;
 background:white;
 width: 500px;
 margin-top: 40px;
 margin-left: auto; 
 margin-right:auto;
 border: 1px solid white;
}

.photo1banner {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    
}
.photo1caption {
    text-align: left;
    padding: 10px;
}

.photo1content img{
    max-width: 100%;
    display: block;
    width:100%
}
.number {
    color:grey
}

.bannertext{
    font-weight:bold;
}
.hashtag{
    font-weight: bold;
}